 .main-div-table{
    width: 100%;
    padding: 20px 20px 20px 20px;
 }
 .table-head{
    width: 100%;
    display: flex;
    justify-content: right;
 }
 .search-div{
    width: 250px;
 }
 .table-head .btn{
    margin-right: 10px;
 }

 .delete-btn-div{
    width: 100%;
    display: flex;
    justify-content: right;
 }